*{
  margin: 0; padding: 0;
}

body{
  background-color: #dbddcf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-page::-webkit-scrollbar {
  width: 0;
}

.main-page-header{
  border-radius: 24px;
  width: 100%;
  min-height: 75%;
  background-color: #f9faf4;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-page{
  border-radius: 25px;
  overflow-y: auto;
  width: 90%;
  height: 90%;
  background-color: #1b2e1a;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.row{
  display: flex;
  flex-direction: row;
}

.col{
  display: flex;
  flex-direction: column;
  size: auto;
}

.nav-bar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 3em;
  padding: 1.5em 0em 1em 0em;
  border-radius: 25px;
  font-size: 16px;
  border-bottom: 1px solid #e4e6db;
  position: fixed;
  z-index:2;
  background-color: #f9faf4;
}

.nav-item{
  margin:0 7em;
}

.nav-content > .row{
  height: 100%;
  column-gap: 10%;
}

.nav-content > .row > .col{
  width: 40%;
  height: 100%;
  justify-content: center;
  row-gap: 1.5em;
}

.nav-content{
  width: 85%;
  height: 100%;
}

.nav-image-box{
  width: 100%;
  height: 100%;
  display: flex;
}

.nav-main-image{
  background: url(/nav-header-image);
  align-self: center;
  background-size: cover;
  background-position: center;
  height: 60%;
  width: 100%;
  border-radius: 20px;
  transform: translate(0, 10%);
}

.nav-sub-image{
  position: absolute;
  z-index: 1;
  background: url(/nav-subheader-image);
  align-self: center;
  background-size: cover;
  height: 33%;
  width: 14em;
  border-radius: 16px;
  transform: translate(220%, -20%);
}

.nav-title{
  font-weight: bold;
  font-size: 3em;
}

.nav-subtitle{
  font-weight: bold;
}

.nav-context{
  font-size: 1em;
  color: gray;
}

.nav-item{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  font-weight: bold;
  font-size: 1.2em;
}

.bold{
  font-weight: bold;
  font-size: 1.5em;
}

.dark-button{
  background-color: #070709;
  color: white;
  padding: 0.5em 2em;
  border-radius: 10px;
  height: fit-content;
  outline: 2px solid #070709;
  transition: outline-offset 0.25s ease-in-out;
}

.dark-button:hover{
  outline-offset: 4px;
  cursor: pointer;
}

.trans-button{
  background-color: transparent;
  border: 1px solid rgba(205, 208, 194, 0.3);
  color: rgba(205, 208, 194, 0.9);
  padding: 0.6em 1.2em;
  min-width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 9px;
  transition: all 0.5s ease-in-out;
}

.main-page-content{
  width: 85%;
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  row-gap: 1.5em;
}

.main-page-content > .row{
  column-gap: 1em;
}

.content-title{
  font-size: 2em;
  font-weight: bold;
  color: rgb(226, 230, 216);
}

.content-context{
  color: rgba(205, 208, 194, 0.9);
}

.trans-button:hover{
  background-color: rgba(205, 208, 194, 0.9);
  color: #1b2e1a;
}

.main-page-content > .row:not(:nth-child(1)) > .col{
  width: 18%;
  row-gap: 1em;
}

.main-page-content > .row:not(:nth-child(1)){
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-page-content > .row:not(:nth-child(1)) > .row {
  column-gap: 1.5em;
}

.menu-card{
  background-color: rgb(226, 230, 216);
  border-radius: 25px;
  width: 220px !important;
  height: 280px;
}

.menu-card:hover{
  cursor: pointer;
}

.menu-card-header-content{
  background-color: rgba(27, 46, 26,0.4);
  width: 100%;
  height: 100%;
  display: none;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  font-size: 2em;
  font-weight: bold;
  color: #e2e6d8;
}

.menu-card:hover .menu-card-header-content{
  opacity: 1;
}

.menu-card-body{
  display: flex;
  flex-direction: column;
  margin: 0.5em 1em;
}

.menu-card-title{
  font-weight: bold;
  font-size: 1.3em;
}

.menu-card-context{
  font-size: 1em;
}

.menu-card-header{
  height: 75%;
  width: 100%;
  background-color: black;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-size: cover;
  background-position: center;
}

.main-page-content:nth-child(odd){
  width: 100%;
  padding: 3.5em 0;
  background-color: #f9faf4;
  border-radius: 24px;
  justify-content: center;
  align-items: center;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main-page-content:nth-child(odd) > .row{
  width: 85%;
}

.main-page-content:nth-child(odd) .content-title{
  color: #2d4d2a;
}

.main-page-content:nth-child(odd) .content-context{
  color: #335730;
}

.col > .content-title{
  margin: 0.4em 0 0 0;
}

.col >.content-context{
  margin: 0 0 0.3em 0;
}

.footer{
  width: 85%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer > .col {
  width: 30%;
}

.main-page-content:nth-child(odd) > .row:first-child > .col > .content-context{
  text-align: justify;
}

.sign-container{
  padding: 1em;
  width:29%;
  display: flex;
  flex-direction: column;
}

.sign-container > .row{
  justify-content: space-around;
  column-gap: 2em;
}

.sign-container > .row > .col{
  width: 100%;
}

.col-50{
  width: 50%;
}

.form-group{
  display: flex;
  flex-direction: column;
  row-gap: 1em;
  margin: 0.5em 0;
  width: 100%;
}

.form-label{
  color: #335730;
}

.sign-container > .row:first-child{
  margin-bottom: 1em;
}

.form-field{
  outline: 1px solid #aebbad;
  border: 0;
  border-radius: 9px;
  background-color: transparent;
  height: 1.2em;
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
  transition: 0.25s ease-in-out;
  color: #395237;
}

.form-field:hover{
  background-color: #dbddcf;
  outline-offset: 4px;
  transition: 0.25s ease-in-out;
  font-weight: bold;
}

.form-field:focus{
  outline: 2px solid #aebbad;
  outline-offset: 4px;
  font-weight: bold;
}

.input-field{
  color: #395237;
  background-color: transparent;
  border: 0;
  width: 100%;
  height: 100%;
}

.input-field:hover{
  font-weight: bold;
}

.input-field:focus{
  outline: none;
}

.sign-image{
  background: url(/sign-image);
  background-size: cover;
  background-position: center;
  height: 450px;
  width: 700px;
  border-radius: 25px;
  margin-left: 2em;
}

.main-page-content > .row{
  justify-content: space-between;
  align-items: center;
}

.col > .content-context{
  margin: 1em 0;
}