*{
  margin: 0; padding: 0;
}

body{
  background-color: #dbddcf;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  display: flex;
  flex-direction: column;
  width: 550px;
  background-color: #f9faf4;
  border-radius: 25px;
}

.bold{
  color: black;
  font-weight: bold;
  margin: 0.5em;
  font-size: 1.2em;
}

.header-image{
  background: url(/nav-header-image);
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-position: center;
  background-size: cover;
  height: 110px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2em;
  color: #dbddcf;
}

.header{
  background-color: #2e3f2e;
  color: white;
  font-weight: bold;
  padding: 0.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content{
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

.form{
  display: flex;
  flex-direction: column;
  row-gap: 0.5em;
}

.form-group{
  display: flex;
  flex-direction: column;
}

.form-label{
  padding: 0.5em 0.2em;
  width: 220px;
  color: #335730;
  font-weight: bold;
}

.context{
  color: #335730;
}

.fit{
  width: fit-content !important;
}

.max{
  width: 100% !important;
}

.input{
  border: 2px solid #dbddcf;
  border-radius: 9px;
  width: 300px;
  height: 100%;
  background-color: transparent;
  padding: 0.5em 0.5em;
  font-size: 1em;
  color: #395237;
}

.row{
  display: flex;
  flex-direction: row;
  column-gap: 1em;
}

.stock:focus{
  outline:none
}

.input:focus{
  outline: none;
}

.button-group{
  margin-top: 2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 1em;
}

.button{
  width: 150px;
  border-radius: 9px;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
}

.primary{
  background-color: #2e3f2e;
  color: white;
}

.secondary{
  background-color: #dbddcf;
  color: black;
}

.account{
  margin-top: 0.5em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  color: #2e3f2e;
}

.account:hover{
  text-decoration: underline;
}